.offset {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-gap: 1rem;
}

.offset:before,
.offset:after {
    content: "";
    display: block;
    border-top: 2px solid currentColor;
}

.offset {
    grid-template-columns: 1fr auto 20fr;
}

.putimg{
    position: absolute;
    bottom: 10%;
    right: 6%;
    transform: translate(-5%, -55%);
}
